extends layout.pug

block content
    p
        a(href='/digid/login') DigiD login
    p
        a(href='/identity/login') Identity login
    p
        a(href='/claim/add') Add claim
    p
        span bsn: #{bsn}
    p
        span identity: #{identityAddress}
    