extends layout.pug

block content
    p
        span bsn: #{bsn}
    p
        a(href='/digid/login') DigiD login
    p
        span Identity: #{identityAddress}
    p
        a(href='/identity/login') Identity login
    p
        a(href='/claim/add') Request BSN claim
    