extends layout.pug

block content
    p
        img(src=qrcode)
    script.
        loginId="#{loginId}";

        const ws = new WebSocket("ws://localhost:8484/");

        ws.onopen = function()
        {
            const message = JSON.stringify({
                eventName: 'subscribeToLogin',
                eventData: {
                    loginId: loginId
                }
            })

            ws.send(message);
        };

        ws.onmessage = function (message) 
        { 
            const event = JSON.parse(message.data);
            switch (event.eventName) {
                case 'loggedIn':
                    location.reload();
                break;
            }
        };